<div class="container-fluid">
  <div class="row-fluid text-center">

    <div class="span12 text-center">

<h2 align="center">Welcome to Mary's Magnificent <br/>Emporium of Blackjack</h2>
<img class="text-center" src="/images/clipart/lady.jpg">
<h3 align="center">Are you ready to play?</h3>
<a class="btn btn-primary btn-large" href="/set_name"><i class='icon-star icon-white'></i> &nbsp Let's Play Blackjack! &nbsp<i class="icon-star icon-white"></i></a>
</div>
      <div class="span1">

      </div>

    </div>
  </div>
