<div class="container-fluid">

  <div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span3">
  <br/>
      <img src="/images/clipart/gangsterinahat.png">
    </div>

    <div class="span6">

      <form action='/' method="get">
        <br/>
        <h3>Insufficient Funds</h3>

        <p>Listen up, <%=session[:player_name]%>!
        <p>You tried to make a bet of $<%=session[:current_bet]%> when you only have $<%=session[:kitty]%> in your kitty.</p>

        <p><em>We're going to have to ask you to step outside...</em></p><br/>
        <button type="submit" class="btn btn-primary btn-large">
          <i class='icon-hand-right icon-white'></i> &nbsp Leave the Casino &nbsp<i class="icon-hand-left icon-white"></i>
        </button>
      </form>
      <form>


      </form>

    </div>

    <div class="span2">

    </div>

  </div>
</div>