<div class="container-fluid">

  <div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span7">

<form action='/set_name' method="post">
  <h3>What is your name, lucky player?</h3>
        <input type="text" autocomplete="off" name="player_name" value="Gary Gambler"/>
   <h3>And how many chips would you like to purchase?</h3>
  <h4>Enter a dollar amount</h4>
  <input type="text" autocomplete="off" name="kitty" value="500"><br/>
  <h3>How much would you like to bet for the first game?</h3>
  <input type="text" autocomplete="off" name="current_bet" value="50">
  <br/>
  <button type="submit" class="btn btn-primary btn-large">
    <i class='icon-star icon-white'></i> &nbsp Let's Play Blackjack! &nbsp<i class="icon-star icon-white"></i>
   </button>
</form>

    </div>
    <div class="span3">
      <img src="/images/clipart/chips.png">
    </div>
    <div class="span1">

    </div>

  </div>
</div>